* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: teal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  background-color: var(--primary);
  color: #ffffff;
  height: 10vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  padding-top: 0.5em;
  letter-spacing: 2px;
  font-weight: 600;
}
/*Categories*/

.categories {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1.5em;
  color: var(--primary);
}
.grid-container {
  margin-left: 9%;
  overflow: hidden;
}
.categories .categories-heading {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}
.category {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.category > img {
  margin-top: 15px;
  width: 200px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
/*Home*/

.home {
  display: flex;
  margin: auto;
  width: 90%;
}
/* Side bar*/
.filters-sidebar {
  flex: 2;
  height: fit-content;
  margin-left: 2em;
  margin-top: 3em;
  padding: 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset legend {
  letter-spacing: 1.5px;
  color: var(--primary);
  font-size: 20px;
}
.filter-sideItem {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  margin-bottom: 15px;
}
.filter-sideItem .flex-container .price-range {
  padding: 5px 10px;
  border: 1.5px solid var(--primary);
  margin-top: 10px;
  margin-bottom: 10px;
}

.rating span {
  margin: 0.1rem;
}

/*Products*/
.products {
  flex: 10;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 2em;
}
.product {
  padding: 20px;
  text-align: center;
}
